<h1>Edit index</h1>

<% form_for :index, :url => { :action => "update" } do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :id, @index %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :index_name %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :index_title %>
  </p>
  <p>
    <%= f.label :context %><br />
    <%= f.select :context_index_context, @contexts, :selected => @index.context_index_context.first ? @index.context_index_context.first.uri : nil %>
  </p>

  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

<script type="text/javascript">
  var target_index_changing_warning = function(x) { 
      var id = this.form.id.value;
      if(id){
        var text = "You have changed the Target Index.\n\n Consider update the Target Index Parameters.\n";
        alert(text);
      }
  } 

 function open_index_attributes_window(id) {
    var callback_indexes_attributes = function() { $("#index_attributes").trigger("reloadGrid"); }
    
    var options_hash = array_options_hash(<%= SHDM::Index.find_all.map{|v| [v.uri, v.index_name.first]}.to_json %>);
    var window_name = 'Index Attribute';
    var elements = [
                    { "name" : "navigation_attribute_name", "caption" : "Name" },
                    { "name" : "index_navigation_attribute_index", "caption" : "Index", "type" : "select", "options": options_hash, "change" : "target_index_changing_warning"  },
                    { "name" : "navigation_attribute_index_position", "caption" : "Position", "type" : "select", "options" : numeric_options(1,20) },
                    { "name" : "id", "type" : "hidden", "class" : "hidden"}
                    ];
    var run_after = function(modal_name){
      
      if(id){ index_attr_parameters(id, modal_name); }
    }
    var html_after_parameters = !id ? '' : '<h3>Target Index Parameters</h3> <a href="javascript:void(0)" onclick="index_attr_parameters(\''+id+'\',\''+create_window_modal_name(window_name)+'\',{})">New</a><br /><label>Name</label><label style="float:none;">Value Expression</label><br />';
    create_window_modal(id, '/indexes/get_resource_attributes/','/indexes/index_attributes_post_data', {parent:'<%= CGI::escape(@index.uri) %>'}, window_name, elements, callback_indexes_attributes, html_after_parameters,run_after);
    
  }
  
  function index_attr_parameters(id,modal_name, data){
    var elements = [
                      { "name" : "navigation_attribute_parameter_name", "caption" : "" },
                      { "name" : "navigation_attribute_parameter_value_expression", "caption" : "" },
                      { "name" : "id", "type" : "hidden", "class" : "hidden"}
                    ];
    var target_element_id = 'after'+modal_name;
    var run_on_submit = function(){ $('#'+target_element_id+ ' form').remove();index_attr_parameters(id,modal_name); }
    
    multiple_forms_in_target(id, target_element_id, data, '/indexes/get_resource_children_attributes/', { 'children_attribute' : 'index_navigation_attribute_index_parameters' }, '/indexes/index_navigation_attribute_index_parameters_post_data', { 'parent_id' : id }, elements, run_on_submit)
  }
  
</script>

<%=jqgrid("Index Attributes", "index_attributes", "/indexes/index_attributes/#{CGI::escape(@index.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "navigation_attribute_name", :label => "Name", :editable => true, :width => 300, :align => 'center' },
		{ :field => "index_navigation_attribute_index", :label => "Index", :editable => true, :width => 350 ,:edittype => "select",
		  :editoptions => { :value => SHDM::Index.find_all.map{|v| [CGI::escape(v.uri), v.index_name.first]} } },
 		{ :field => "navigation_attribute_index_position", :label => "Position", :editable => true, :width => 50, :align => 'center' }
	],
	{ 
	  :selection_handler => "open_index_attributes_window", :direct_selection => false, :height => 20 , :delete => false, :search => false
	}
)%>
<script type="text/javascript">
 jQuery(document).ready(function(){
    $("#index_attributes").jqGrid("setGridHeight", 'auto');
  });
</script>
<p><a href='javascript:void(0)' onclick='open_index_attributes_window()'>New Index Attribute</a></p>
<br />


<script type="text/javascript">
  var target_context_changing_warning = function(x) { 
      var id = this.form.id.value;
      if(id){
        var text = "You have changed the Target Context.\n\n Consider update the Context Anchor Parameters.\n";
        alert(text);
        //alert('ID do elemento da Janela: '+ id+ '\nID do elemento do select:'+this.value);
      }
  } 

 function open_context_anchor_attributes_window(id) {
    var callback_indexes_attributes = function() { $("#context_anchor_attributes").trigger("reloadGrid"); }
    
    var target_context_options = array_options_hash(<%= SHDM::Context.find_all.map{|v| [v.uri, v.context_name.first]}.to_json %>);
    var window_name = 'Context Anchor Attribute';
    var elements = [
                    { "name" : "navigation_attribute_name", "caption" : "Name" },
                    { "name" : "context_anchor_navigation_attribute_label_expression", "caption" : "Label expression", "type" : "textarea" },
                    { "name" : "context_anchor_navigation_attribute_target_context", "caption" : "Target context", "type" : "select", "options" : target_context_options , "change" : "target_context_changing_warning" },
                    { "name" : "context_anchor_navigation_attribute_target_node_expression", "caption" : "Target node expression", "type" : "textarea" },
                    { "name" : "navigation_attribute_index_position", "caption" : "Position", "type" : "select", "options" : numeric_options(1,20) },
                    { "name" : "id", "type" : "hidden", "class" : "hidden"}
                    ];
    var run_after = function(modal_name){
      if(id){ index_anchor_parameters(id, modal_name); }
    }
    var html_after_parameters = !id ? '' : '<h3>Context Anchor Parameters</h3> <a href="javascript:void(0)" onclick="index_anchor_parameters(\''+id+'\',\''+create_window_modal_name(window_name)+'\',{})">New</a><br /><label>Name</label><label style="float:none;">Value Expression</label><br />';
    create_window_modal(id, '/indexes/get_resource_attributes/','/indexes/context_anchor_attributes_post_data', {parent:'<%= CGI::escape(@index.uri) %>'}, window_name, elements, callback_indexes_attributes, html_after_parameters,run_after);
    
  }
  
  function index_anchor_parameters(id,modal_name, data){
    var elements = [
                      { "name" : "navigation_attribute_parameter_name", "caption" : "" },
                      { "name" : "navigation_attribute_parameter_value_expression", "caption" : "" },
                      { "name" : "id", "type" : "hidden", "class" : "hidden"}
                    ];
    var target_element_id = 'after'+modal_name;
    var run_on_submit = function(){ $('#'+target_element_id+ ' form').remove();index_anchor_parameters(id,modal_name); }
    
    multiple_forms_in_target(id, target_element_id, data, '/indexes/get_resource_children_attributes/', { 'children_attribute' : 'context_anchor_navigation_attribute_target_parameters' }, '/indexes/navigation_attribute_context_parameters_post_data', { 'parent_id' : id }, elements, run_on_submit)
  }
  
</script>

<%=jqgrid("Context Anchor Attributes", "context_anchor_attributes", "/indexes/context_anchor_attributes/#{CGI::escape(@index.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "navigation_attribute_name", :label => "Name", :editable => true, :width => 100, :align => 'center' },
		{ :field => "context_anchor_navigation_attribute_label_expression", :label => "Label expression", :editable => true, :width => 300, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } },
		{ :field => "context_anchor_navigation_attribute_target_context", :label => "Target context", :editable => true, :width => 100 ,:edittype => "select",
		  :editoptions => { :value => SHDM::Context.find_all.map{|v| [CGI::escape(v.uri), v.context_name.first]} } },
  	{ :field => "context_anchor_navigation_attribute_target_node_expression", :label => "Target node expression", :editable => true, :width => 150, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } },
		{ :field => "navigation_attribute_index_position", :label => "Position", :editable => true, :width => 50, :align => 'center' }
	],
	{ 
	  :selection_handler => "open_context_anchor_attributes_window", :direct_selection => false, :search => false, :delete => false, :height => 50
	}
)%>
<script type="text/javascript">
 jQuery(document).ready(function(){
    $("#context_anchor_attributes").jqGrid("setGridHeight", 'auto');
  });
</script>
<p><a href='javascript:void(0)' onclick='open_context_anchor_attributes_window()'>New Context Anchor Attribute</a></p>
<br />

<script type="text/javascript">
 function open_index_anchor_attributes_window(id) {
    var callback_indexes_attributes = function() { $("#index_anchor_attributes").trigger("reloadGrid"); }
    
    var target_index_options = array_options_hash(<%=  SHDM::Index.find_all.map{|v| [v.uri, v.index_name.first]}.to_json %>);
    var window_name = 'Index Anchor Attribute';
    var elements = [
                    { "name" : "navigation_attribute_name", "caption" : "Name" },
                    { "name" : "index_anchor_navigation_attribute_label_expression", "caption" : "Label expression", "type" : "textarea" },
                    { "name" : "index_anchor_navigation_attribute_target_index", "caption" : "Target index", "type" : "select", "options" : target_index_options, "change" : "target_context_changing_warning" },
                    { "name" : "navigation_attribute_index_position", "caption" : "Position", "type" : "select", "options" : numeric_options(1,20) },
                    { "name" : "id", "type" : "hidden", "class" : "hidden"}
                    ];
    var run_after = function(modal_name){
      if(id){ index_anchor_navigation_parameters(id, modal_name); }
    }
    var html_after_parameters = !id ? '' : '<h3>Index Anchor Parameters</h3> <a href="javascript:void(0)" onclick="index_anchor_navigation_parameters(\''+id+'\',\''+create_window_modal_name(window_name)+'\',{})">New</a><br /><label>Name</label><label style="float:none;">Value Expression</label><br />';
    create_window_modal(id, '/indexes/get_resource_attributes/','/indexes/index_anchor_attributes_post_data', {parent:'<%= CGI::escape(@index.uri) %>'}, window_name, elements, callback_indexes_attributes, html_after_parameters,run_after);
    
  }
  
  function index_anchor_navigation_parameters(id,modal_name, data){
    var elements = [
                      { "name" : "navigation_attribute_parameter_name", "caption" : "" },
                      { "name" : "navigation_attribute_parameter_value_expression", "caption" : "" },
                      { "name" : "id", "type" : "hidden", "class" : "hidden"}
                    ];
    var target_element_id = 'after'+modal_name;
    var run_on_submit = function(){ $('#'+target_element_id+ ' form').remove();index_anchor_navigation_parameters(id,modal_name); }
    
    multiple_forms_in_target(id, target_element_id, data, '/indexes/get_resource_children_attributes/', { 'children_attribute' : 'index_anchor_navigation_attribute_target_parameters' }, '/indexes/navigation_attribute_index_parameters_post_data', { 'parent_id' : id }, elements, run_on_submit)
  }
  
</script>
<%=jqgrid("Index Anchor Attributes", "index_anchor_attributes", "/indexes/index_anchor_attributes/#{CGI::escape(@index.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "navigation_attribute_name", :label => "Name", :editable => true, :width => 150, :align => 'center' },
		{ :field => "index_anchor_navigation_attribute_label_expression", :label => "Label expression", :editable => true, :width => 300, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } },
		{ :field => "index_anchor_navigation_attribute_target_index", :label => "Target index", :editable => true, :width => 200 ,:edittype => "select",
		  :editoptions => { :value => SHDM::Index.find_all.map{|v| [CGI::escape(v.uri), v.index_name.first]} } },

		
		{ :field => "navigation_attribute_index_position", :label => "Position", :editable => true, :width => 50, :align => 'center' }
	],
	{ 
	  :selection_handler => "open_index_anchor_attributes_window", :direct_selection => false, :search => false, :delete => false, :height => 50,
	}
)%>
<script type="text/javascript">
 jQuery(document).ready(function(){
    $("#index_anchor_attributes").jqGrid("setGridHeight", 'auto');
  });
</script>
<p><a href='javascript:void(0)' onclick='open_index_anchor_attributes_window()'>New Index Anchor Attribute</a></p>
<br />


<script type="text/javascript">
 function open_computed_attributes_window(id) {
    var callback_computed_attributes = function() { $("#computed_attributes").trigger("reloadGrid");}
    var window_name = 'Computed Attribute';
    var elements = [
                    { "name" : "navigation_attribute_name", "caption" : "Name" },
                    { "name" : "computed_navigation_attribute_value_expression", "caption" : "Value expression", "type" : "textarea" },
                    { "name" : "navigation_attribute_index_position", "caption" : "Position", "type" : "select", "options" : numeric_options(1,20) },
                    { "name" : "id", "type" : "hidden", "class" : "hidden"}
                    ];
    create_window_modal(id, '/indexes/get_resource_attributes/','/indexes/computed_attributes_post_data', {parent:'<%= CGI::escape(@index.uri) %>'}, window_name, elements, callback_computed_attributes);
  }
</script>

<%=jqgrid("Computed Attributes", "computed_attributes", "/indexes/computed_attributes/#{CGI::escape(@index.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "navigation_attribute_name", :label => "Name", :editable => true, :width => 220, :align => 'center' },
		{ :field => "computed_navigation_attribute_value_expression", :label => "Value expression", :editable => true, :width => 450, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 70 } },
		{ :field => "navigation_attribute_index_position", :label => "Position", :editable => true, :width => 50, :align => 'center' }
	],
	{ 
    :selection_handler => "open_computed_attributes_window", :direct_selection => false, :search => false, :delete => false, :height => 50,
  }	
)%>
<script type="text/javascript">
 jQuery(document).ready(function(){
    $("#computed_attributes").jqGrid("setGridHeight", 'auto');
  });
</script>
<p><a href='javascript:void(0)' onclick='open_computed_attributes_window()'>New Computed Attribute</a></p>
<br />
<script type="text/javascript">
 function open_pre_condition_attributes_window(id) {
    var callback_computed_attributes = function() { $("#pre_conditions").trigger("reloadGrid");}
    var window_name = 'Pre Conditions';
    var elements = [
                    { "name" : "pre_condition_name", "caption" : "Name" },
                    { "name" : "pre_condition_expression", "caption" : "Expression", "type" : "textarea" },
                    { "name" : "pre_condition_failure_handling", "caption" : "Position", "type" : "textarea" },
                    { "name" : "id", "type" : "hidden", "class" : "hidden"}
                    ];
    create_window_modal(id, '/indexes/get_resource_attributes/','/indexes/pre_conditions_post_data', {parent:'<%= CGI::escape(@index.uri) %>'}, window_name, elements, callback_computed_attributes);
  }
</script>
<%=jqgrid("Pre Conditions", "pre_conditions", "/indexes/pre_conditions/#{CGI::escape(@index.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "pre_condition_name", :label => "Name", :editable => true, :width => 220, :align => 'center' },
		{ :field => "pre_condition_expression", :label => "Expression",	:editable => true, :width => 250, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } },
		{ :field => "pre_condition_failure_handling", :label => "Failure handling",	:editable => true, :width => 250, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } }
	],
	{ 
    :selection_handler => "open_pre_condition_attributes_window", :search => false, :direct_selection => false, :delete => false, :height => 50,
  }
)%>
<script type="text/javascript">
 jQuery(document).ready(function(){
    $("#pre_conditions").jqGrid("setGridHeight", 'auto');
  });
</script>
<p><a href='javascript:void(0)' onclick='open_pre_condition_attributes_window()'>New Pre condition</a></p>
<br/>
<%= link_to 'Back', indexes_path %>
