<h1>Add dataset</h1>

<% form_for :dataset, :url => { :action => "create" }, :html => { :class => 'form' } do |f| %>
  <%= f.error_messages %>

  <%= f.label :title %>
  <p>
    <%= f.text_field 'dcterms:title' %>
  </p>

	<%= f.label :SPARQL_Endpoint_URI %>
  <p>
    <%= f.text_field 'void:sparqlEndpoint' %>
  </p>
	
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', datasets_path %>