<table class="minimalist">
  <tr>
    <th>Name</th>
		<th>Active</th>
		<th align="right">Actions</th>
  </tr>

<% @applications.sort{|a,b| a.name.to_s<=>b.name.to_s}.each do |application| %>
  <tr>
    <td><%=h application.name %></td>
		<td><%=h application.active? %></td>
    <td align="right">
			<%= link_to 'Activate', { :action => "activate", :id => application.name }, :confirm => 'Are you sure?', :method => :post %>
    	<%= link_to 'Remove', { :action => "destroy", :id => application.name }, :confirm => 'Are you sure?', :method => :delete %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New application', :action => :new %>