<h1>Edit landmark</h1>

<% form_for :landmark, :url => { :action => "update" }, :html => { :class => 'form' } do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :id, @landmark %>

  <%= f.label :name %>
  <p>
    <%= f.text_field :landmark_name %>
  </p>
  <%= f.label :position %>
  <p>
    <%= f.text_field :landmark_position %>
  </p>

	<%= f.label :type %>
	<p>
		<%= @index_anchor ? 'Index anchor' : 'Context anchor' %>
	</p>
	
  <% if @index_anchor %>
		<%= f.label :label_expression %>
		<p>
			<%= text_field_tag 'navigation_attribute[index_anchor_navigation_attribute_label_expression]', 
													@navigation_attribute.index_anchor_navigation_attribute_label_expression.first, :size => 30 %>
		</p>
		<%= f.label :target_index %>
		<p>
			<%= select_tag 'navigation_attribute[index_anchor_navigation_attribute_target_index]',
											options_for_select(@indexes, @navigation_attribute.index_anchor_navigation_attribute_target_index.first.uri) %>
		</p>
		<p>
	    <%= f.submit 'Save' %>
	  </p>
	  
    <script type="text/javascript">
      function open_target_index_parameters_window(id) {
        var callback_index_parameters = function() { $("#target_index_parameters").trigger("reloadGrid");}
        var window_name = 'Target Index Parameter';
        var elements = [
                        { "name" : "navigation_attribute_parameter_name", "caption" : "Name" },
                        { "name" : "navigation_attribute_parameter_value_expression", "caption" : "Expression", "type" : "textarea" },
                        { "name" : "id", "type" : "hidden", "class" : "hidden"}
                        ];
        create_window_modal(id, '/landmarks/get_resource_attributes/','/landmarks/target_index_parameters_post_data', {parent:'<%= CGI::escape(@navigation_attribute.uri) %>'}, window_name, elements, callback_index_parameters);
      }
    </script>
    
		<%=jqgrid("Target Index Parameters", "target_index_parameters", "/landmarks/target_index_parameters/#{CGI::escape(@navigation_attribute.uri)}",
			[			
				{ :field => "id", :label => "ID", :width => 1, :resizable => false },
				{ :field => "navigation_attribute_parameter_name", :label => "Name", :editable => true, :width => 250, :align => 'center' },
				{ :field => "navigation_attribute_parameter_value_expression", :label => "Value expression", :editable => true, :width => 250, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } },
			],
			{ 
        :selection_handler => "open_target_index_parameters_window", :search => false, :direct_selection => false, :height => 100,
      }
		)%>
    <script type="text/javascript">
     jQuery(document).ready(function(){
        $("#target_index_parameters").jqGrid("setGridHeight", 'auto');
      });
    </script>
    
    <p><a href='javascript:void(0)' onclick='open_target_index_parameters_window()'>New Target Index Parameter</a></p>
	<% else %>
		<%= f.label :label_expression %>
		<p>
			<%= text_field_tag 'navigation_attribute[context_anchor_navigation_attribute_label_expression]', 
													@navigation_attribute.context_anchor_navigation_attribute_label_expression.first, :size => 30 %>
		</p>		
		<%= f.label :target_context %>
		<p>
			<%= select_tag 'navigation_attribute[context_anchor_navigation_attribute_target_context]', 
											options_for_select(@contexts, @navigation_attribute.context_anchor_navigation_attribute_target_context.first.uri) %>
		</p>
		<%= f.label :target_node_expression %>
		<p>
			<%= text_field_tag 'navigation_attribute[context_anchor_navigation_attribute_target_node_expression]', 
													@navigation_attribute.context_anchor_navigation_attribute_target_node_expression.first, :size => 30 %>
		</p>
	  <p>
	    <%= f.submit 'Save' %>
	  </p>
    <script type="text/javascript">
      function open_target_context_parameters_window(id) {
        var callback_target_context_parameters = function() { $("#target_context_parameters").trigger("reloadGrid");}
        var window_name = 'Target Index Parameter';
        var elements = [
                        { "name" : "navigation_attribute_parameter_name", "caption" : "Name" },
                        { "name" : "navigation_attribute_parameter_value_expression", "caption" : "Expression", "type" : "textarea" },
                        { "name" : "id", "type" : "hidden", "class" : "hidden"}
                        ];
        create_window_modal(id, '/landmarks/get_resource_attributes/','/landmarks/target_context_parameters_post_data', {parent:'<%= CGI::escape(@navigation_attribute.uri) %>'}, window_name, elements, callback_target_context_parameters);
      }
    </script>
		<%=jqgrid("Target Context Parameters", "target_context_parameters", "/landmarks/target_context_parameters/#{CGI::escape(@navigation_attribute.uri)}",
			[			
				{ :field => "id", :label => "ID", :width => 1, :resizable => false },
				{ :field => "navigation_attribute_parameter_name", :label => "Name", :editable => true, :width => 250, :align => 'center' },
				{ :field => "navigation_attribute_parameter_value_expression", :label => "Value expression", :editable => true, :width => 250, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } },
			],
			{ 
        :selection_handler => "open_target_context_parameters_window", :search => false, :direct_selection => false, :height => 100,
      }
		)%>
     <script type="text/javascript">
     jQuery(document).ready(function(){
        $("#target_context_parameters").jqGrid("setGridHeight", 'auto');
      });
    </script>
	<p><a href='javascript:void(0)' onclick='open_target_context_parameters_window()'>New Target Context Parameter</a></p>
  <% end %>
	
<% end %>
<br/>
<%= link_to 'Back', landmarks_path %>