<h1>Editing in context class</h1>

<% form_for :in_context_class, :url => { :action => "update" } , :html => { :class => 'form' } do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :id, @in_context_class %>

  <%= f.label :class %>
  <p>
    <%= f.select :in_context_class_class, @classes, :selected => @in_context_class.in_context_class_class.first.uri %>
		<%= 
			unless params[:show_meta_classes] 
				link_to 'Show meta classes', :action => :edit, :id => @in_context_class, :show_meta_classes => true
			else 
				link_to 'Hide meta classes', :action => :edit, :id => @in_context_class
			end 
		%>
	</p>

  <%= f.label :context %>
  <p>
    <%= f.select :in_context_class_context, @contexts, :selected => @in_context_class.in_context_class_context.first.uri %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%=jqgrid("Context Anchor Attributes", "context_anchor_attributes", "/in_context_classes/context_anchor_attributes/#{CGI::escape(@in_context_class.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "navigation_attribute_name", :label => "Name", :editable => true, :width => 200, :align => 'center' },
		{ :field => "context_anchor_navigation_attribute_label_expression", :label => "Label expression", :editable => true, :width => 200, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } },
		{ :field => "context_anchor_navigation_attribute_target_context", :label => "Target context", :editable => true, :width => 200 ,:edittype => "select",
		  :editoptions => { :value => SHDM::Context.find_all.map{|v| [CGI::escape(v.uri), v.context_name.first]} } },
  	{ :field => "context_anchor_navigation_attribute_target_node_expression", :label => "Target node expression", :editable => true, :width => 200, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } },
	],
	{ 
	  :add => true, :inline_edit => true, :delete => true, :search => false, :hiddengrid => @in_context_class.in_context_class_context_anchor_attributes.to_a.empty? ? 'true' : 'false', :height => 100,
	  :edit_url => "/in_context_classes/context_anchor_attributes_post_data?parent=#{CGI::escape(@in_context_class.uri)}",
		:subgrid => { 
					
					:url => "/in_context_classes/navigation_attribute_context_parameters",
					:columns => [
						{ :field => "id", :label => "ID", :width => 1, :resizable => false },
						{ :field => "navigation_attribute_parameter_name", :label => "Name", :editable => true },
						{ :field => "navigation_attribute_parameter_value_expression", :label => "Value expression", :editable => true }
				    ],
					:add => true, 
					:edit => true, 
					:delete => true, 
					:search => false, 
					:inline_edit => true,
					:edit_url => "/in_context_classes/navigation_attribute_context_parameters_post_data"
		}
	}
)%>
<br/>
<%=jqgrid("Index Anchor Attributes", "index_anchor_attributes", "/in_context_classes/index_anchor_attributes/#{CGI::escape(@in_context_class.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "navigation_attribute_name", :label => "Name", :editable => true, :width => 200, :align => 'center' },
		{ :field => "index_anchor_navigation_attribute_label_expression", :label => "Label expression", :editable => true, :width => 200, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } },
		{ :field => "index_anchor_navigation_attribute_target_index", :label => "Target index", :editable => true, :width => 200 ,:edittype => "select",
		  :editoptions => { :value => SHDM::Index.find_all.map{|v| [CGI::escape(v.uri), v.index_name.first]} } }
	],
	{ 
	  :add => true, :inline_edit => true, :delete => true, :search => false, :hiddengrid => @in_context_class.in_context_class_index_anchor_attributes.to_a.empty? ? 'true' : 'false', :height => 100,
	  :edit_url => "/in_context_classes/index_anchor_attributes_post_data?parent=#{CGI::escape(@in_context_class.uri)}",
	  :subgrid => { 

						:url => "/in_context_classes/navigation_attribute_index_parameters",
						:columns => [
							{ :field => "id", :label => "ID", :width => 1, :resizable => false },
							{ :field => "navigation_attribute_parameter_name", :label => "Name", :editable => true },
							{ :field => "navigation_attribute_parameter_value_expression", :label => "Value expression", :editable => true }
					    ],
						:add => true, 
						:edit => true, 
						:delete => true, 
						:search => false, 
						:inline_edit => true,
						:edit_url => "/in_context_classes/navigation_attribute_index_parameters_post_data"
		}
	}
)%>
<br />
<%=jqgrid("Computed Attributes", "computed_attributes", "/in_context_classes/computed_attributes/#{CGI::escape(@in_context_class.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "navigation_attribute_name", :label => "Name", :editable => true, :width => 250, :align => 'center' },
		{ :field => "computed_navigation_attribute_value_expression", :label => "Value expression", :editable => true, :width => 250, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } }
	],
	{ :add => true, :edit => true, :inline_edit => true, :delete => true, :search => false, :hiddengrid => @in_context_class.in_context_class_computed_attributes.to_a.empty? ? 'true' : 'false', :height => 100,
	  :edit_url => "/in_context_classes/computed_attributes_post_data?parent=#{CGI::escape(@in_context_class.uri)}" }
)%>
<br />
<%=jqgrid("Index Attributes", "index_attributes", "/in_context_classes/index_attributes/#{CGI::escape(@in_context_class.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "navigation_attribute_name", :label => "Name", :editable => true, :width => 200, :align => 'center' },
		{ :field => "index_navigation_attribute_index", :label => "Index", :editable => true, :width => 200 ,:edittype => "select",
		  :editoptions => { :value => SHDM::Index.find_all.map{|v| [CGI::escape(v.uri), v.index_name.first]} } }
	],
	{ 
	  :add => true, :inline_edit => true, :delete => true, :search => false, :hiddengrid => @in_context_class.in_context_class_index_attributes.to_a.empty? ? 'true' : 'false', :height => 100,
	  :edit_url => "/in_context_classes/index_attributes_post_data?parent=#{CGI::escape(@in_context_class.uri)}",
		:subgrid => { 
					
					:url => "/in_context_classes/index_navigation_attribute_index_parameters",
					:columns => [
						{ :field => "id", :label => "ID", :width => 1, :resizable => false },
						{ :field => "navigation_attribute_parameter_name", :label => "Name", :editable => true },
						{ :field => "navigation_attribute_parameter_value_expression", :label => "Value expression", :editable => true }
				    ],
					:add => true, 
					:edit => true, 
					:delete => true, 
					:search => false, 
					:inline_edit => true,
					:edit_url => "/in_context_classes/index_navigation_attribute_index_parameters_post_data"
		}
	}
)%>
<br/>
<%= link_to 'Back', in_context_classes_path %>