<h1>New operation_parameter</h1>

<% form_for :operation_parameter, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :operation_parameter_name %>
  </p>
  <p>
    <%= f.label :operation %><br />
    <%= f.select :parameter_operation, SHDM::Operation.find_all.map{|v| [v.operation_name.first, v.uri]} %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%#= link_to 'Back', operation_parameters_path %>