<h1>Edit concrete interface</h1>

<% form_for :concrete_interface, :url => { :action => "update" }, :html => { :class => 'form' } do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :id, @concrete_interface %>
  <%= f.label :name %>
  <p>
    <%= f.text_field :interface_name %>
  </p>

	<%= f.label :code %>
	<p>
    <%= f.text_area :concrete_interface_code, :cols => 80 %>
  </p>
	
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

<%= link_to 'Back', concrete_interfaces_path %>