<h1>New concrete interface</h1>

<% form_for :concrete_interface, :url => { :action => "create" }, :html => { :class => 'form' } do |f| %>
  <%= f.error_messages %>

  <%= f.label :name %>
  <p>
    <%= f.text_field :interface_name %>
  </p>

	<%= f.label :code %>
  <p>
    <%= f.text_area :concrete_interface_code, :cols => 100 %>
  </p>
	
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', concrete_widgets_path %>