<h1>Edit context</h1>

<% form_for :context, :url => { :action => "update" } do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :id, @context %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :context_name %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :context_title %>
  </p>
  <p>
    <%= f.label :query %><br />
    <%= f.text_area :context_query, :rows => 5, :cols => 45 %>
  </p>

  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

<script type="text/javascript">
 function open_parameters_window(id) {
    var elements = [{ "name" : "id", "type" : "hidden", "class" : "hidden" }, { "type" : "br" }, { "name" : "context_parameter_name", "caption" : "Name" },{ "type" : "hr" },];
    create_window_modal(id, '/contexts/edit_context_parameter/','/contexts/context_parameters_post_data', {parent:'<%= CGI::escape(@context.uri) %>'}, 'Parameters', elements, function() {$("#context_parameters").trigger("reloadGrid");});
  }
 </script>

<%=jqgrid("Parameters", "context_parameters", "/contexts/context_parameters/#{CGI::escape(@context.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "context_parameter_name", :label => "Name", :editable => true, :width => 360, :align => 'center' }
	],
	{
    :selection_handler => "open_parameters_window", :direct_selection => true, :delete => true,
    :edit_url => "/contexts/context_parameters_post_data?parent=#{CGI::escape(@context.uri)}"
    #:add => false, :edit => false, :inline_edit => false, :delete => true, :search => false, :hiddengrid => 'false', :height => 50,
	  
    }
)%>
<a href='javascript:void(0)' onclick='open_parameters_window()'>Add Parameter</a>
<br /><br />
<%=jqgrid("Pre Conditions", "pre_conditions", "/contexts/pre_conditions/#{CGI::escape(@context.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "pre_condition_name", :label => "Name", :editable => true, :width => 220, :align => 'center' },
		{ :field => "pre_condition_expression", :label => "Expression",	:editable => true, :width => 220, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } },
		{ :field => "pre_condition_failure_handling", :label => "Failure handling",	:editable => true, :width => 220, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } }
	],
	{ :add => true, :edit => true, :inline_edit => false, :delete => true, :search => false, :hiddengrid => @context.context_pre_conditions.to_a.empty? ? 'true' : 'false',:height => 100,
	  :edit_url => "/contexts/pre_conditions_post_data?parent=#{CGI::escape(@context.uri)}" }
)%>
<br/>
<%= link_to 'Back', contexts_path %>