<h1>Edit context</h1>

<% form_for :context, :url => { :action => "update" } do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :id, @context %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :context_name %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :context_title %>
  </p>
  <p>
    <%= f.label :query %><br />
    <%= f.text_area :context_query, :rows => 5, :cols => 45 %>
  </p>

  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

<script type="text/javascript">
 function open_parameters_window(id) {
    var elements = [ { "name" : "context_parameter_name", "caption" : "Name" }, { "name" : "id", "type" : "hidden", "class" : "hidden" }];
    create_window_modal(id, '/contexts/get_resource_attributes/','/contexts/context_parameters_post_data', {parent:'<%= CGI::escape(@context.uri) %>'}, 'Parameters', elements, function() {$("#context_parameters").trigger("reloadGrid");});
  }
  
  function open_preconditions_window(id) {
    var elements = [ { "name" : "pre_condition_name", "caption" : "Name" },{ "name" : "pre_condition_expression", "type" : "textarea", "caption" : "Expression"} ,{ "name" : "pre_condition_failure_handling", "type" : "textarea", "caption" : "Failure Handling"},{ "name" : "id", "type" : "hidden", "class" : "hidden" }];
    create_window_modal(id, '/contexts/get_resource_attributes/','/contexts/pre_conditions_post_data', {parent:'<%= CGI::escape(@context.uri) %>'}, 'Pre Condition', elements, function() {$("#pre_conditions").trigger("reloadGrid");});
  }
 </script>

<%=jqgrid("Parameters", "context_parameters", "/contexts/context_parameters/#{CGI::escape(@context.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "context_parameter_name", :label => "Name", :editable => true, :width => 360, :align => 'center' }
	],
	{
    :selection_handler => "open_parameters_window", :direct_selection => false, :delete => false, :search => false, :height => 50,
  }
)%>
<script type="text/javascript">
 jQuery(document).ready(function(){
    $("#context_parameters").jqGrid("setGridHeight", 'auto');
  });
</script>
<p><a href='javascript:void(0)' onclick='open_parameters_window()'>New Parameter</a></p>

<%=jqgrid("Pre Conditions", "pre_conditions", "/contexts/pre_conditions/#{CGI::escape(@context.uri)}",
	[
		{ :field => "id", :label => "ID", :width => 1, :resizable => false },
		{ :field => "pre_condition_name", :label => "Name", :editable => true, :width => 220, :align => 'center' },
		{ :field => "pre_condition_expression", :label => "Expression",	:editable => true, :width => 220, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } },
		{ :field => "pre_condition_failure_handling", :label => "Failure handling",	:editable => true, :width => 220, :edittype => "textarea", :editoptions => { :rows => 5, :cols => 40 } }
	],
	{ :selection_handler => "open_preconditions_window", :direct_selection => false, :search => false, :delete => false, :height => 50 }
)%>
<script type="text/javascript">
 jQuery(document).ready(function(){
    $("#pre_conditions").jqGrid("setGridHeight", 'auto');
  });
</script>
<p><a href='javascript:void(0)' onclick='open_preconditions_window()'>New Pre Condition</a></p>
<br/>
<%= link_to 'Back', contexts_path %>